/* Start Variabels */
:root{
    --main-color:#005aa6;
    --section-background:#f6f6f6;
    --section-padding:60px;
    --main-durachen:0.3s
}
/* End Variabels */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}


ul{
    list-style: none;
}
 a{
    text-decoration: none;
} 
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto ;
    margin-right: auto;
}

/* Small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* Start header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 40px;
}


.header .links ul{
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 200px;
    border-radius: 3px;
    z-index: 1;
    text-align: right;
}

.header .links ul li a{
    display: block;
    padding: 15px;
    color: #333;
    transition: var(--main-durachen);
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;

}

/* End header */

h1{
    text-align: center;
    margin: 60px 0 20px;
    background-color: #1b2eae;
    color: white;
    padding: 25px;
}
.dvPlc {
    position: relative;
    text-align: right;
    color: white;
    margin: 20px 0;
}
.cntnr{
    position: absolute;
    top: 0px;
    left: 0;
    color: white;
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 5;
}
.clear {
    font-size: 5vh;
    color: white;
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.mdfSVG{
    fill: white;
    cursor: pointer;
}
.dvPlc .normal{
    position: relative;
    background-color: #777;;
    padding: 15px 20px;
    font-size: 25px;
}
.dvPlc .normal h2{
    margin-bottom: 12px;
}
.dvPlc .normal h2 a{
    color: #000080;
}
@media (max-width:991px) {
    .dvPlc .normal{
        font-size: 20px;
    }
}

.valdh2 , .fakeh2{
    text-align: center;
    font-size: 33px;
    background-color: green;
    padding: 30px 5px;
    color: white;
    cursor: pointer;
    margin: 10px 0;
}
.fakeh2{
    background-color: red
}
.vlfkdiv{
    display: none;
    overflow: hidden;
    margin: 20px 0;
}

