:root {
    --main-color:
        /* #005aa6 */
        #ddd;
    --section-background: #f6f6f6;
    --section-padding: 60px;
    --main-durachen: 0.3s;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.container {
    padding-left:  15px;
    padding-right:  15px;
    margin-left: auto;
    margin-right:  auto;
}
@media (min-width:768px) {
    .container {
    width:  750px;
}
}@media (min-width:992px) {
    .container {
    width:  970px;
}
}@media (min-width:1200px) {
    .container {
    width:  1170px;
}
 }
/* Start Header */
header {
    padding:  20px;
}
header .container {
    display:  flex;
    justify-content:  space-between;
    align-items:  center;
}
header .logo {
     color: var(--main-color);
}
header .links {
    position:  relative;
}
header .links:hover .icon span:nth-child(2) {
    width:  100%}
header .links .icon {
    width:  25px;
    display:  flex;
    flex-wrap:  wrap;
    justify-content: flex-end;
}
header .links .icon span {
    background-color:  var(--main-color);
    margin-bottom:  5px;
    width:  100%;
    height:  2px;
}
header .links .icon span:nth-child(2) {
    width:  60%;
    transition:  var(--main-durachen);
}
header .links ul {
    margin:  0;
    padding:  0;
    background-color:  var(--section-background);
    position: absolute;
    min-width:  200px;
    top:  calc(100% + 7px);
    left: 0;
    border-radius:  3px;
    z-index:  1;
    text-align:  center;
    display:  none;
}
header .links:hover ul {
    display:  block;
}
header .links ul::before {
    content:  "";
    content:  "";
    position:  absolute;
    bottom:  100%;
    left:   5px;
    border:  10px solid;
    border-color:  transparent transparent var(--section-background);
}
header .links ul li a {
    display:  block;
    padding:  15px;
    color:  #333;
    transition:  var(--main-durachen);
}
header .links ul li a:hover {
    padding-left:  25px;
    color: white;
    background-color: #4a92ea;
}
header .links ul li:not(:last-child) a {
    border-bottom:  1px solid #ddd;
}
header .aboutUsp {
    display:  none;
    top:  120px;
    max-width:  calc(100% - 20px);
    position:  fixed;
    right:  10px;
    font-size:  25px;
    color:  #010b5d;
    background-color:  #eee;
    border:  1px solid #ddd;
    border-radius:  5px;
    padding:  10px 20px;
}
header .aboutUs:hover .aboutUsp {
    background-color:  #ddd;
    display:  block;
}

header .links ul li a.active {
    color: white;
    background-color: #4a92ea;
}
/* End Header */